extends ../layout

block content
	div(class="row")
		div(class="col-md-12")
			h4 Solicite seu cartão DirectMED
		div(class="col-md-12")
			hr
		div(class="col-md-12")
			p Estamos passando por modificações em nosso sistema e as solicitações de cartões pelo nosso sistema esta fora do ar, peço que preencha os dados corretamente do formulário abaixo que nossos consultores entraram em contato o mais rápido possivel.  