doctype html
html
	head
		title DirectMed Acesso Restrito
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')


	body
		nav(class="navbar navbar-default navbar-fixed-top", role="navigation")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") DirectMed
				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li(class="active")
							a(href="/") Resumo
						li(class="dropdown")
							a(href="#", class="dropdown-toggle", data-toggle="dropdown") Referenciado <span class="caret"></span>
							ul(class="dropdown-menu", role="menu")
								li
									a(href="/referenciado/cadastrar") Cadastrar
								li 
									a(href="/referenciados") Listar
						li(class="dropdown")
							a(href="#", class="dropdown-toggle", data-toggle="dropdown") Financeiro <span class="caret"></span>
							ul(class="dropdown-menu", role="menu")
								li
									a(href="/financeiro") Listar
								li 
									a(href="") ###
					ul(class="nav navbar-nav navbar-right")
						li(class="dropdown")
							a(href="#", class="dropdown-toggle", data-toggle="dropdown", id="configuracoes") Configurações
								span(class="caret")
							ul(class="dropdown-menu", aria-labelledby="conficuracoes")
								li(class="dropdown-header") Usuário
								li
									a(href="#") Perfil
								li(class="divider")
								li(class="dropdown-header") Sistema
								li
									a(href="/respostas/listar") Relatório auto recebimento
		div(class="container")
			
			div(class="alert alert-dismissable alert-success")
				button(type="button", class="close", data-dismiss="alert") ×
				span <strong>Flash Mensagens!</strong> Aqui vai carregar as mensagens do sistema de erro ou sucesso! <a href="#" class="alert-link">confira!</a>
			block content
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/bootstrap.min.js")
