doctype html
html
	head
		title DirectMed Acesso Restrito
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block css

	body
		nav(class="navbar navbar-default navbar-fixed-top", role="navigation")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") DirectMed
				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li(class=(menu === 'resumo' ? 'active' : ''))
							a(href="/") Resumo
						if user.is_admin
							li(class=(menu === 'referenciado' ? 'dropdown active' : 'dropdown'))
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") Referenciado <span class="caret"></span>
								ul(class="dropdown-menu", role="menu")
									li
										a(href="/referenciado/cadastrar") Cadastrar
									li 
										a(href="/referenciados") Listar
							li(class=(menu === 'financeiro' ? 'dropdown active' : 'dropdown'))
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") Financeiro <span class="caret"></span>
								ul(class="dropdown-menu", role="menu")
									li
										a(href="/financeiro") Listar
									li 
										a(href="") ###
							li(class=(menu === 'usuario' ? 'dropdown active' : 'dropdown'))
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") Usuários <span class="caret"></span>
								ul(class="dropdown-menu", role="menu")
									li
										a(href="/users") Listar
									li 
										a(href="/user/cadastrar") Novo Usuário
						else

						li()
							a(href="http://directmed.com.br/v2/contato", target="_blank") Central de Atendimento


					ul(class="nav navbar-nav navbar-right")
						li(class=(menu === 'config' ? 'dropdown active' : 'dropdown'))
							a(href="#", class="dropdown-toggle", data-toggle="dropdown", id="configuracoes") Configurações
								span(class="caret")
							ul(class="dropdown-menu", aria-labelledby="conficuracoes")
								li(class="dropdown-header") Usuário
								li
									a(href="/user/#{user._id}/visualizar") Perfil
								if user.is_admin
									li(class="divider")
									li(class="dropdown-header") Sistema
									li
										a(href="/respostas/listar") Relatório auto recebimento
								li
									a(href="/logout") Logout
		
		div(class="container")
			if (messages.info)
				div(class="alert alert-dismissable alert-success")
					button(type="button", class="close", data-dismiss="alert") ×
					span #{messages.info}
			block content
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/bootstrap.min.js")
		block script
