extends ../layout

block content
	h3 Cadastrar novo Usuário
	hr
	dir(class="row")
		div(class="col-md-12")
		form(role="form", method="POST", action="/user")
			div(class="col-md-4")
				div(class="form-group")
					label(for="nome") Nome
					input(type="text", class="form-control", name="nome", placeholder="Nome")
				div(class="form-group")
					label(for="cpf") CPF
					input(type="text", class="form-control", name="cpf", placeholder="000.000.000-00")
				div(class="form-group")
					label(for="cnpj") CNPJ
					input(type="text", class="form-control", name="cnpj", placeholder="CNPJ")
				div(class="form-group")
					label(for="data_nascimento") Data de Nascimento
					input(type="text", class="form-control", name="data_nascimento", placeholder="dia/mes/ano")
				div(class="form-group")
					label(for="sexo") Sexo
					select(id="sexo", class="form-control", name="sexo")
						option(value="") Selefione o sexo 
						option(value="H") Masculino 
						option(value="M") Feminino
			div(class="col-md-4")
				div(class="form-group")
					label(for="cep") CEP
					input(type="text", class="form-control", name="cep", placeholder="CEP")

				div(class="form-group")
					label(for="endereco") Endereço / Numero
					div(class="row")
						div(class="col-xs-9")
							input(type="text", class="form-control", name="endereco", placeholder="endereco")
						div(class="col-xs-3")
							input(type="text", class="form-control", name="numero", placeholder="Nº")


				div(class="form-group")
					label(for="complemento") Complemento
					input(type="text", class="form-control", name="complemento", placeholder="Complemento")
				div(class="form-group")
					label(for="bairro") Bairro
					input(type="text", class="form-control", name="bairro", placeholder="Bairro")
				
				div(class="form-group")
					label(for="cidade") Cidade / Estado
					div(class="row")
						div(class="col-xs-9")
							input(type="text", class="form-control", name="cidade", placeholder="Cidade")
						div(class="col-xs-3")
							input(type="text", class="form-control", name="estado", placeholder="UF")

			div(class="col-md-4")
				div(class="form-group")
					label(for="email") E-mail
					input(type="email", class="form-control", name="email", placeholder="E-mail")

				div(class="form-group")
					label(for="ddd_fixo") Telefone FIXO					
					div(class="row")
						div(class="col-xs-3")
							input(type="text", class="form-control", name="ddd_fixo", placeholder="88")
						div(class="col-xs-9")
							input(type="text", class="form-control", name="telefone_fixo", placeholder="0000-0000")

					
				div(class="form-group")
					label(for="ddd_celular") DDD Celular
					div(class="row")
						div(class="col-xs-3")
							input(type="text", class="form-control", name="ddd_celular", placeholder="88")
						div(class="col-xs-9")
							input(type="text", class="form-control", name="telefone_celular", placeholder="0000-0000")

				div(class="form-group")
					label(for="senha") Senha
					input(type="password", class="form-control", id="password", placeholder="Sua senha", name="password")
				div(class="form-group")
					label(for="password_confirm") Confirme a senha
					input(type="password", class="form-control", id="password_confirm", placeholder="Confirme sua senha",oninput="validaSenha(this)")

				button(type="submit", class="btn btn-primary pull-right") Cadastrar

block script
	script(src="/javascripts/validarForm.js")