doctype html
html
	head
		title DirectMed Acesso Restrito
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
	body
		div(class="container")
			form(class="form-signin", role="form", action="/login", method="POST")
				h2(class="form-signin-heading") Faça o login
				input(name="username", type="text", class="form-control", placeholder="Email address", required, autofocus)
				input(name="password", type="password", class="form-control", placeholder="Password", required)
				div(class="checkbox")
					label  
						input(type="checkbox", value="lembrar_login") 
						span Lembrar login
				button(class="btn btn-lg btn-primary btn-block", type="submit") Acessar Sistema
				hr
				a(href="/login/lembrar-senha") Esqueceu a senha?