extends ../layout

block content
	h2 Respostas
	hr

	if respostas
		div(class="table-responsive")
			table(class="table table-condensed table-striped")
				thead
					tr
						th token_transaction
						th order_number
						th status_name
						th date_transaction
						
				tbody
					each res in respostas
						tr
							td #{res.token_transaction}
							td #{res.transaction.order_number}
							td #{res.transaction.status_name}
							td #{res.transaction.date_transaction}
							
	else
		h4 Nenhum cadastro.
