extends ../layout

block content
	div(class="row")
		div(class="col-md-12")
			h4 Referenciado Listar
		//div(class="col-md-12")
			//a(class="btn btn-primary btn-xs", href="/user/cadastrar") Novo usuário
		div(class="col-md-12")
			hr
		div(class="col-md-12")
			if referenciados
				div(class="table-responsive")
					table(class="table table-condensed table-striped")
						thead
							tr
								th CPF
								th E-Mail
								th Data
								th 
						tbody
							each ref in referenciados
								tr
									td #{ref.cpf}
									td #{ref.email}
									td #{ref.created_at}
									
									td
										



			else
				h4 Nenhum cadastro.
